*{
	margin: 0;
	font-family: arial;
	padding: 0;
	border:border-box;



}
.navbar{
	height: 60px;
	background-color: #0f1111;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.navlogo{
	height: 50p;
	width: 100px;
}
.logo{
	background-image: url("images/images.png");
	background-size: cover;
	height: 50px;
width: 100px;
}
.border{
	border: 1px solid transparent;

}
.border:hover{
	border: 1px solid white;
/**box second*/
}
.para1{
	color:#cccccc;
	font-size:0.85rem;
	margin-left:15px ;

}
.para2{
	font-size: 1rem;
	margin-left: 3px;

}
.icon{
	display: flex;
	align-items: center;
}
/** third box**/
.search{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color:pink;
	width: 620px;
	height:40px ;
	border-radius: 4px;

}
.selectsearch{
	background-color: #f3f3f3;
	width: 50px;
	text-align: center;
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	border: none;
	height: 40px;
}
.input{
	width: 100%;
font-size: 1rem;
border: none;
height: 40px;
}
.searchicon{
	width: 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.25rem;
	background-color: #f7781e;
	height: 40px;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
	color: #0f1111;

}
.search{
	border: 2px solid orange ;
}
/** box4 **/
.singin{

}
span{
	font-size: 0.65rem;
}
.navpara2{
	font-size: 0.85rem;
	font-weight:700 ;

}
/** box 5**/
span{
	font-size:0.65rem ;
}
.return1{
	font-size:0.85rem ;
	font-weight:700 ;
}
/** box6 **/
.cart{
	font-size: 0.85rem;
	font-weight: 700;
}
/** paneal**/
.pan{
	background-color: #222f3d;
	height:40px;
	display: flex;
	color: white;
	font-size: 0.75rem;
	align-items: center;
	justify-content: space-evenly;

}
.paneloption p{
		
display: inline;
margin-left: 8px;
	

}
.paneloption {
	width: 70%;
	
font-size: 0.85rem;


}
.paneldel{
	font-size: 0.9rem;
	font-weight: 700;

}
/** hero **/
.hero{
	background-image:url("images/amozon.jpg") ;
	background-size: cover;
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	background-color: #81d4fa;


}
.herosec{
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	height: 40px;
	font-size: 0.85rem;
	width: 95%;
	margin-bottom:10%;
}
.herosec a{
	color: #007185;
	text-decoration: none;
}
/** shop**/
.shop-content{
	display: flex;
	justify-content: space-evenly;
background-color:#00A8E1;


}
.box{
	
	height: 420px;
	width: 310px;
	background-color: white;
	padding: 20p 0px 15px;
	margin-top: 15px;

}
.box1-img{
	height: 300px;
	width: 265px;
	background-size: cover;
	
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.box-content a{
	text-decoration: none;
	color: #2162a1;
}
.box-content{
	margin-left: 1rem;
	margin-right: 1rem;
}
/*box2*/
.box2-img{
	height: 300px;
	width: 265px;
	background-size: cover;
	
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.box-content a{
	text-decoration: none;
	color: #2162a1;
}
.box-content{
	margin-left: 1rem;
	margin-right: 1rem;
}
/*box3*/

.box3-img{
	height: 310px;
	width: 265px;
	background-size: cover;
	
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.box-content a{
	text-decoration: none;
	color: #2162a1;
}
.box-content{
	margin-left: 1rem;
	margin-right: 1rem;
}
.box4-img{
	height: 310px;
	width: 265px;
	background-size: cover;
	
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.shop2-content{
	display: flex;
	justify-content: space-evenly;
background-color: #00A8E1;
}
.box5-img{
	height: 310px;
	width: 265px;
	background-size: cover;
	
	margin-top: 1rem;
	margin-bottom: 1rem;
}.box6-img{
	height: 320px;
	width: 260px;
	background-size: cover;
	
	margin-top: 1rem;
	margin-bottom: 1rem;
}.box7-img{
	height: 310px;
	width: 265px;
	background-size: cover;
	
	margin-top: 1rem;
	margin-bottom: 1rem;
}.box8-img{
	height: 310px;
	width: 200px;
	background-size: cover;
	
	margin-top: 1rem;
	margin-bottom: 1rem;
}
footer{
	margin-top: 0.5px;

}
.foot-panel1{
	background-color: #37475a;
	color: white;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.85rem;
	
}
.foot-panel2{
	background-color: #222f3d;
	color: white;
	height: 300px;
	display: flex;
	justify-content: space-evenly;


}
ul{
	margin-top: 25px;
}
ul a{
	display: block;
	font-size: 0.85rem;
	text-decoration: none;
	margin-top: 10px;
	color: #dddddd;

}
ul p{
	font-size: 16px;
	font-weight: 700;
}
.panel3{
	background-color:#131a22
;
	color: white;
	border-top:0.5px solid white ;
height: 70px;
display: flex;
justify-content: center;
align-items: center;

}

	.logo1{
background-image: url("images/p.jpg");
	background-size: cover;
	height: 50px;
width: 100px;
} 
@media(max-width:600px){
}



